/* Hangman CSS */

html {
	min-height: 100%;
}

body {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #c5c5c5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c5c5c5));
	background: -webkit-linear-gradient(top, #ffffff 0%,#c5c5c5 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#c5c5c5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#c5c5c5 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#c5c5c5 100%);
}

h1, h2, h3, p, form {
	font-family: "Futura", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	text-align: center;
	font-size: 1.5em;
}

h1 {
	font-size: 5em;
	margin-bottom: 6px;
}

h2#subtitle {
	font-size: 1.2em;
	margin-top: 0px;
	margin-bottom: 45px;
}

h3 {
	margin-top: 50px;
}

form {
	text-align: center;
	margin: 50px 0px 100px 0px;
}